<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
     <h3>{{ name }}</h3>
     <p>{{ total }}</p>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String,
    name: String,
    total : String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h3{
    color:red;
  }
</style>
