<template>
  <div id="app" style="padding:50px;">
      <h3 class="text-center" style="">Welcome to Konference</h3>
      <h4 class="text-center">All Talks </h4>
      <!-- Trigger the modal with a button -->
        <span v-if="success != null" class="alert alert-success"> {{ success }}</span>

        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Add A Talk</button>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a Talk</h4>
            </div>
            <div class="modal-body">
                <h4>Add a Talk </h4>

                <span v-if="success != null" class="alert alert-success"> {{ success }}</span>

                <form id="add_talk_form" @submit.prevent="add_talk">
                    <label>Title : </label>
                    <input class="form-control" type="text" v-model="title" placeholder="Enter Talk Title" name="title"><br><br>

                    <label> Description : </label> <br>

                    <textarea class="form-control" placeholder="Ënter Talk Description Here " name="description" v-model="description"></textarea>
                    <br><br>

                    <label>Time : </label>
                    <input class="form-control" type="time" v-model="time" placeholder="Enter Talk Time" name="time"><br><br>

                    <label>Date : </label>
                    <input class="form-control" type="date" v-model="date" placeholder="Enter Talk Date" name="date"><br><br>

                    <div class="modal-footer">
                        <input type="submit" class=" btn btn-info" value="Add Talk">
                        <button type="button" class="btn  btn-default pull-left" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

            </div>

        </div>
        </div>
        <table class="table table-responsive table-striped" style="">
            <thead>
            <tr>
                
                <th>Title</th>
                <th>Description</th>
                <th>Time</th>
                <th>Date</th>
                <th></th>
            </tr>
            </thead>
            
            <tbody v-if="talks.data.data.info.length > 0 ">
            <tr  v-for="item in talks.data.data.info" v-bind:key="item.id">
                
                <td >{{ item.title }}</td>
                <td> {{ item.description }}</td>
                <td> {{ item.time }}</td>
                <td> {{ item.date }}</td>
                <td>
                    <!-- Trigger the modal with a button -->
                    <button type="button"  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#viewattendeesModal">View Attendees</button>

                    <!-- Modal -->
                    <div id="viewattendeesModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">View Attendees for {{ item.title }}</h4>
                                
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                
                                <table v-if="talk_attendees != null" class="table table-responsive table-striped" style="">
                                    <thead>
                                    <tr>
                                        <th>Fullname</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Address</th>
                                        <th>State</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="item in talk_attendees" v-bind:key="item.id">
                                        <td >{{ item.fullname }}</td>
                                        <td> {{ item.email }}</td>
                                        <td> {{ item.phone }}</td>
                                        <td> {{ item.address }}</td>
                                        <td> {{ item.state }}</td>
                                        <td >
                                        
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button type="button" @click="fetch_talk_attendees(item.id)" class="btn btn-primary btn-sm" >Show</button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                            </div>

                        </div>
                    </div>
                    <form id="remove_talk_form" @submit.prevent="remove_talk">
                        <input type="hidden" name="talk_id" :value="item.id">
                            <button class="btn btn-small btn-danger" type="submit">
                                remove
                            </button>
                    </form>
                </td>
            </tr>
            </tbody>
            <span class="alert alert-info" v-else> No Talk Available</span>
        </table>
        <br><br>
        <hr/>
        <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addattendeesModal">Add Attendee</button>

                    <!-- Modal -->
                    <div id="addattendeesModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add Attendee</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                            </div>
                            <div class="modal-body">
                                <form id="add_attendee_form" @submit.prevent="add_attendee">

                                    <label>Full Name : </label>
                                    <input class="form-control" required type="text" v-model="fullname" placeholder="Enter Attendee fullname" name="fullname"><br><br>

                                    <label>Email : </label>
                                    <input class="form-control" required type="text" v-model="email" placeholder="Enter Attendee email" name="email"><br><br>

                                    <label>Phone : </label>
                                    <input class="form-control" required type="number" v-model="phone" placeholder="Enter Attendee phone" name="phone"><br><br>

                                    <label> Address : </label> <br>

                                    <textarea class="form-control" required placeholder="Enter Attendee Address Here" name="address" v-model="address"></textarea>
                                    <br><br>

                                    <label>State : </label>
                                    <input class="form-control" required type="text" placeholder="Enter Attendee state" name="state"><br><br>

                                    <div class="modal-footer">
                                        <input type="submit" class=" btn btn-info" value="Add Attendee">
                                        <button type="button" class="btn  btn-default pull-left" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                            </div>

                        </div>
                    </div>

        <h3>View Attendees</h3><br>
        <span v-if="success != null" class="alert alert-success"> {{ success }}</span> <br><br>
        <table class="table table-responsive table-striped" style="">
            <thead>
            <tr>
                <th>Fullname</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>State</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in attendees.data.data.info" v-bind:key="item.id">
                <td >{{ item.fullname }}</td>
                <td> {{ item.email }}</td>
                <td> {{ item.phone }}</td>
                <td> {{ item.address }}</td>
                <td> {{ item.state }}</td>
                <td >
                    <form id="join_talk_form" @submit.prevent="join_talk" >
                        <input type="hidden" name="attendees_id" :value="item.id">
                        <select name="talks_id" class="form-control" required> 
                            <option name="talks_id[]" >select a talk to join</option>
                            <option name="talks_id[]" :value="talk.id" v-for="talk in talks.data.data.info" v-bind:key="talk.id">
                                {{ talk.title }}
                            </option>
                        </select>
                         <input type="submit" class=" btn btn-info" value="Join Talk">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
  </div>
</template>

<script>

    import axios from "axios";


    export default {
        name: 'app',
        components: {

        },
        data (){
            return {
                talks : null,
                success : null,
                attendees: null,
                talk_attendees: null
            }
        },
        mounted (){
            axios.get('http://127.0.0.1:8000/api/talks/view-all')
                    .then( response => {
                        this.talks = response
                    });
            axios.get('http://127.0.0.1:8000/api/attendees/view-all')
                    .then( response => {
                        this.attendees = response
                    });
        
        },
        methods: {
            add_talk: function(){
                let formData = new FormData(document.getElementById("add_talk_form"));
                this.$http.post('http://127.0.0.1:8000/api/talks/add', formData)
                .then(response => {
                    this.success = response.data.data.info;
                }, response => {response});
            },

            add_attendee: function(){
                let formData = new FormData(document.getElementById("add_attendee_form"));
                this.$http.post('http://127.0.0.1:8000/api/attendees/add', formData)
                .then(response => {
                    this.success = response.data.data.info;
                }, response => {response});
            },

            remove_talk: function(){
                let formData = new FormData(document.getElementById("remove_talk_form"));
                this.$http.post('http://127.0.0.1:8000/api/talks/remove', formData)
                
                .then(response => {
                    this.success = response.data.data.info;
                }, response => {response});
            },
            join_talk:function(){
                let formData = new FormData(document.getElementById("join_talk_form"));
                this.$http.post('http://127.0.0.1:8000/api/attendees/join-talk', formData)
                .then(response => {
                    this.success = response.data.data.info;
                }, response => {response});
            },
            fetch_talk_attendees:function(talk_id){
                this.$http.post('http://127.0.0.1:8000/api/talks/view-joined-attendees', {
                    talk_id : talk_id
                })
                .then(response => {
                    this.talk_attendees = response.data.data.info;
                }, response => {response});
            },
        },

    }



</script>

<style>

</style>
